.nav{

      display: flex;
      justify-content: space-around;
     align-items: center;
      min-height: 10vh;
      background: dodgerblue;
      color: white;
      margin: 10px;


}
.navlink{
      color: white;
      font-size: x-large;
      font-family:  "Lucida Console", "Courier New", monospace;
      text-decoration: none;
}

.navlink:hover{
       
     text-decoration:none; 
     cursor:pointer;  
     
}

.navHeader{
      font-size: xx-large;
      font-weight: bold;
      margin-left: 25px;
      
}

body{

      padding-left: 60px;
      padding-right: 60px;
}