nav{

    
      justify-content: space-around;
   
      min-height: 10vh;
      background-image: url(../Home/images/cork.jpg);
      color: black;
    


}
.nav-wrapper{
      background-color: none;
      
}
.navlink{
      color: white;
      font-size: x-large;
      font-family:  "Lucida Console", "Courier New", monospace;
      text-decoration: none;
}

.navlink:hover{
       
     text-decoration:none; 
     cursor:pointer;  
     
}


    
    /* mouse over link */
    a:hover {
      color: rgb(246,159,105);
    }
    
    /* selected link */
    a:active {
      color: rgb(4,134,160);
    }

.navHeader{
      font-size: 18px;
      font-weight: bold;
      margin-left: 25px;
      
}


body{

      padding-left: 60px;
      padding-right: 60px;
}

