.nav{

      display: flex;
      justify-content: space-around;
     align-items: center;
      min-height: 10vh;
      background: dodgerblue;
      color: black;
      margin: 10px;


}
.nav-wrapper{
      background-color: rgb(154,154,154);
      /* background-image: url(../Home/images/frame.jpg); */
}
.navlink{
      color: white;
     
      font-size: 24px;
 
}


    
    /* mouse over link */
    a:hover {
      color: rgb(246,159,105);
    }
    
    /* selected link */
    a:active {
      color: rgb(4,134,160);
    }

.navHeader{
      font-size: xx-large;
      font-weight: bold;
      margin-left: 35px;
}

body{

      padding-left: 60px;
      padding-right: 60px;
}