<<<<<<< Updated upstream
h2{
    font-size: 38px;
    font-family: sans-serif;
}

h1{
    font-size: 35px;
    text-align: center;
    font-family: sans-serif;
}
p{
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
}
=======
.container-fluid{
    background-image: url(../Home/images/cork.jpg);
  }

h1{
    text-align: center;
}
>>>>>>> Stashed changes
