
h1{
    
    font-size: 48px ;
    text-align: center;
}

 h4 {
    text-align: center; 
}
h3{
    
    font-size: 24px;  
}
ul {
    text-align: center;
}
.container-fluid{
    background-image: url(../Home/images/cork.jpg);
  }
